<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mycnblog.mapper.DraftsMapper">
    <select id="getMyList" resultType="com.example.mycnblog.model.DraftsInfo">
        select *
        from draftsinfo
        where uid = #{uid}
    </select>

    <select id="getDetail" resultType="com.example.mycnblog.model.DraftsInfo">
        select *
        from draftsinfo
        where id = #{aid}
    </select>

    <delete id="delete">
        delete
        from draftsinfo
        where id = #{aid}
    </delete>

    <update id="update">
        update draftsinfo
        set title=#{title},
            content=#{content}
        where id = #{aid}
          and uid = #{uid}
    </update>

    <insert id="add">
        insert into draftsinfo(title, content, uid)
        values (#{title}, #{content}, #{uid});
    </insert>
</mapper>