<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mycnblog.mapper.UserMapper">
    <insert id="add">
        insert into userinfo(username, password)
        values (#{username}, #{password})
    </insert>

    <select id="login" resultType="com.example.mycnblog.model.UserInfo">
        select *
        from userinfo
        where username = #{username}
          and password = #{password}
    </select>

    <select id="getUserByName" resultType="com.example.mycnblog.model.UserInfo">
        select *
        from userinfo
        where username = #{username}
    </select>

    <select id="myInfoByUid" resultType="com.example.mycnblog.model.UserInfo">
        select *
        from userinfo
        where id = #{uid}
    </select>

    <update id="update">
        update userinfo
        set username=#{username}
        where id = #{uid}
    </update>

    <update id="updateAvatar">
        update userinfo
        set photo=#{photo}
        where id = #{uid}
    </update>
</mapper>